@import './__variables.sass'

.blog
    &__item
        padding: 30px
        margin-bottom: 20px
        display: flex
        flex-wrap: wrap
        flex-direction: row
        &__preview-text
            width: 67%
            margin-left: 20px
        &__date
            font-size: 12px
            color: #666
        .blog__item__title
            display: flex
            justify-content: flex-start
            width: 100%
            color: $main-header-color
            font-size: 24px
            &:hover
                color: $main-hover-color
        .thumb-img
            width: 30%
        
        &__image
            display: flex
            align-items: center
            justify-content: center
        h2
            margin-bottom: 10px
        img
            margin-right: 20px
            border-radius: 5px
            max-width: 100%
            height: auto
        p
            margin-bottom: 10px
        a
            display: flex
            width: 150px
            justify-content: center

@media screen and (max-width: 810px)
    .blog
        &__item
            align-items: center
            justify-content: center
            align-items: center
            img 
                margin-right: 0
            .thumb-img
                min-width: 100%
                text-align: center
                margin-bottom: 20px
            &__preview-text
                min-width: 100%
                text-align: justify
                margin-left: 0
                h2
                    width: 100%
                    text-align: center
                p
                    margin-bottom: 20px
                .center
                    display: flex
                    justify-content: center
                    align-items: center
        
        