main 
    margin-top: 30px
    margin-bottom: 30px
    background: #EBEBEB
    padding: 15px
    .main-inner
        background-color: #fff
        padding: 20px
        .main-text
            text-indent: 30px
            font-weight: 500
            font-size: 18px
            text-align: justify
            color: #383838

.main-slider
    margin-bottom: 20px
    img
        width: 100%
        
@media screen and (max-width: 992px)
    main
        padding: 0px
        margin-bottom: 0
        .main-inner
            padding: 0px
            padding-top: 10px
            .main-text
                font-size: 14px
                padding-left: 15px 
                padding-right: 15px
            .right-info
                margin-bottom: 20px
            .row
                margin: 0