.main 
    margin-top: 30px
    margin-bottom: 30px
    background: #EBEBEB
    padding: 15px
    &__inner
        background-color: #fff
        padding: 20px
        //slick-slider styles
        div.slick-slider.main__slider.slick-initialized 
            ul
                bottom: 20px
                li > button::before
                    color: #fff
                    font-size: 13px
            button.slick-arrow.slick-next,
            button.slick-arrow.slick-prev
                z-index: 1
                width: 40px
                height: 40px
                &::before
                    font-size: 35px
            button.slick-arrow.slick-prev
                left: 0
            button.slick-arrow.slick-next
                right: 0

    &__text
        text-indent: 30px
        font-weight: 500
        font-size: 18px
        text-align: justify
        color: #383838
    &__slider
        margin-bottom: 20px
        img
            width: 100%
        
@media screen and (max-width: 992px)
    .main
        padding: 0px
        margin-bottom: 0
        &__inner
            padding: 0px
            padding-top: 10px
        &__text
            font-size: 14px
            padding-left: 15px 
            padding-right: 15px
        .right-info
            margin-bottom: 20px
        .row
            margin: 0